# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env
*.venv/
env/
venv/
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Others
*.bak
*.swp
*.swo

# Environment files
.env

campusconnect-mirror/